@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

header{
    width: 100%;
    height: 30px;
    background: white;
}

header nav .logo{
    font-family: "Italiana", sans-serif;
    color: gold;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

nav{
    justify-content: space-between;
    display: flex;
}

.navigations{
    display: flex;
}

.navigations li{
    list-style-type: none;
    padding-top: 10px;
    padding-left: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.navigations li:hover{
    color: gold;
}

.table {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.book-table {
    background-color: #f8b400;
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.table li{
    list-style-type: none;
}
.book-table:hover {
    background-color: #e09e00;
    color: white;
}

/* Home Section */

#home {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.home {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.left-side {
    flex: 1;
    padding-left: 10px;
}

.left-side h2{
    font-size: 70px;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
}

.left-side p{
    font-size: 30px;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    margin-top: 0;
}

.right-side {
    flex: 1;
    text-align: center;
}

.home-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* About Us Section */

#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-image: url("./Assets/pexels-pixabay-260922.jpg");

}

.about {
    flex: 1;
    padding: 20px;
}

.about h2{
    font-size: 50px;
    margin-bottom: 40px;
    font-family: "Italiana", sans-serif;
    color: white;
}

.about p{
    font-size:25px;
    font-family: "Italiana", sans-serif;
    color: whitesmoke;
}

.about-img {
    flex: 1;
    height: 100%;
    margin-right: 20px;
}

.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Menu Section */

#menu {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

#menu h2{
    font-size: 30px;
    font-family: "Italiana", sans-serif;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-info {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 10%;
    text-align: left;
}

.item-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.item-info h3 {
    margin-top: 0;
    font-family: "Italiana", sans-serif;
}

/* Book a Table Section */

#table-book {
    text-align: center;
    padding: 50px 20px;
    font-family: "Italiana", sans-serif;
    background-image: url(Assets/360_F_292478791_MRWCQSrVTjh3TMOQ6d6gElLD8dUGdAkp.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

#table-book h2{
    font-family: "Italiana", sans-serif;
    font-size: 30px;

}

#booking-form {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Italiana", sans-serif;
    font-weight: bolder;
}

#booking-form label, 
#booking-form input, 
#booking-form select, 
#booking-form textarea, 
#booking-form button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

#booking-form input, 
#booking-form select, 
#booking-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
}

#booking-form input::placeholder,
#booking-form textarea::placeholder {
    color: #888;
}

#booking-form button {
    background-color: #f8b400;
    border: none;
    color: #333;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin-left: 250px;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Italiana", sans-serif;
    font-weight: bolder;
}

#booking-form button:hover {
    background-color: #e0a800;
}

/* Contact Us Section */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
    font-family: "Italiana", sans-serif;
}

.contact-left {
    flex: 1;
    padding: 20px;
}

.contact-left h2{
    font-family: "Italiana", sans-serif;
    margin-left: 60px;

}

.contact-right {
    flex: 1;
    text-align: center;
}

.contact-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    font-weight: bolder;
}

#contact-form label,
#contact-form input,
#contact-form textarea,
#contact-form button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #f8b400;
    border: none;
    color: #333;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: "Italiana", sans-serif;
    font-weight: bolder;
}

#contact-form button:hover {
    background-color: goldenrod;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(216, 216, 216);
    color: black;
    font-family: "Italiana", sans-serif;
    font-weight: bolder;
}






